/* Palette: https://coolors.co/fdfffc-235789-c1292e-f1d302-161925 */

:root {
    --light: #FDFFFC;
    --first: #13b91b;
    --second: #F1D302;
    --third: #C1292E;
    --dark: #161925;
}

html {
    font-family: monospace;
}

body {
    background-color: var(--dark);
    margin: 0;
    color: var(--light)
}

#content {
    margin: 0 auto;
    max-width: 30rem;
}

header {
    padding: 1rem;
    margin: 1rem auto 1rem;
    text-align: center;
    max-width: fit-content;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header p {
    font-size: 1.4rem;
    margin: 0;
    margin-top: .5rem;
}

.search-types {
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid white;
}

.search-types h2 {
    margin: 0;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-types {
    width: 85%;
}

.select-types select {
    background-color: white;
    border: 1px white solid;
    height: 2.5rem;
    font-size: 1.5rem;
    width: 100%;
}

.card {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid white;
}

.card h2 {
    font-size: 2rem;
    margin-top: 0;
}

.card > div {
    font-size: 1.5rem;
}

.reload {
    background-color: transparent;
    border: none;
}

.reload img {
    width: 2rem;
}

.reload:active {
    transform: translateY(1px)
}

.reload:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

footer a {
    text-decoration: none;
    color: #fff;
}