@media only screen and (min-width: 32.5em) {
    header {
        padding: 1rem;
        margin: 3rem auto;
        text-align: center;
        max-width: fit-content;
    }
    
    header h1 {
        font-size: 4rem;
        margin: 0;
    }
    
    header p {
        font-size: 1.4rem;
        margin: 0;
        margin-top: .5rem;
    }

    footer {
        position: fixed;
        padding-bottom: 1rem;
        bottom: 0;
    }
}